.body{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img{
    margin: 10px;
}

.register{
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.broad{
    width: 80%;
    height: 80px;
}

.button{
    width: 80%;
    height: 60px;
}

