<p>
    <mat-toolbar color="primary">
      <span>SteelDoor</span>
      <span class="example-spacer"></span>
      <app-authorized [role]="'admin'">
        <ng-container Logged>
            <span>Hi, {{securityService.GetFieldOfJWT("email")}} </span>
            <button mat-raised-button color="primary" (click)="securityService.LogOut()">LogOut</button>
        </ng-container>
        <ng-container NotLogged>
          <button mat-raised-button color="primary" routerLink="login">LogIn</button>
          <button mat-raised-button routerLink="register">SignUp</button>
        </ng-container>
    </app-authorized>
    </mat-toolbar>
  </p>